<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

    <body>
        <%- include("../partials/navbar")%>

            <main class="display">
                <div class="content" id="content">
                    <h1 class="emloyees">Employess: <span>
                            <%=employees.length %> employees
                        </span></h1>

                    <div class="search">
                        <input type="text" placeholder="Enter email address to search" id="search">
                        <button onclick="search(`<%=JSON.stringify(employees)%>`)">Search</button>
                        <br />
                    </div>

                    <div class="row" id="myCards">

                        <% if(employees.length> 0) {%>
                            <% employees.forEach((res)=>{%>
                                <div class="column">
                                    <div class="card">
                                        <div>
                                            <div id="step1">
                                                <div id="profile">
                                                    <img src=<%=res.empImage %> alt="Employee" />
                                                </div>
                                                <div class="employee">
                                                    <h4>
                                                        <%=res.empName %>
                                                            <%=res.empSurname %>
                                                    </h4>
                                                    <h4> ID Number:
                                                        <br />
                                                        <span>
                                                            <%=res.empIdNumber %>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="buttons">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a onclick="openUpdate(`<%=JSON.stringify(res)%>`)">
                                                                        <button>
                                                                            <img src="/Assets/Icons/editing.png"
                                                                                alt="Edit" width="30" title="Edit" />
                                                                        </button>
                                                                    </a>

                                                                </td>
                                                                <td>
                                                                    <a onclick="deleteEmp(`<%=JSON.stringify(res)%>`)">
                                                                        <button>
                                                                            <img src="/Assets/Icons/trash.png"
                                                                                alt="Delete" width="30"
                                                                                title="Delete" />
                                                                        </button>
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="row" id="step2">
                                                <div class="column">

                                                    <h4>Phone Number:
                                                        <br /><span>
                                                            <%=res.empPhoneNumber %>
                                                        </span>
                                                    </h4>

                                                </div>
                                                <div class="column">
                                                    <h4>Email:
                                                        <br /><span>
                                                            <%=res.empEmailAddress %>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="column">
                                                    <h4>Position:
                                                        <br /><span>
                                                            <%=res.empPosition %>
                                                        </span>
                                                    </h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <%})%>
                                    <%} else{%>
                                        <h1>No Employees</h1>
                                        <%} %>
                    </div>
                </div>


                <br /><br /><br />



            </main>

            <!-- Update -->
            <div id="update">
                <a class="closeBtn" onclick="close_form()"><span class="close-popup"><img src="/Assets/Icons/cross.png"
                            alt="" width="30"></span></a>
                <div class="popup">

                    <div class="wrapper">
                        <div class="row" id="box">

                            <div class="column">
                                <img src="/Assets/Images/bg.jpg" alt="Employee" id="empImg" />
                            </div>

                            <div class="column">
                                <div>
                                    <h1 id="fName">Name and surname</h1>
                                    <p>A full view of employee's details.</p>
                                    <br />
                                    <div id="view">
                                        <h3>ID Number:</h3>
                                        <h4 id="idNum">0000000000000</h4>

                                        <h3>Email Address:</h3>
                                        <h4 id="emailA">email@gmail.com</h4>

                                        <h3>Phone Number:</h3>
                                        <h4 id="phNum">0000000000</h4>

                                        <h3>Position:</h3>
                                        <h4 id="pstn">Front End Dev</h4>
                                    </div>

                                    <div id="update-form">
                                        <button class="small" onclick="changeEntries(1)">Update Details</button>

                                        <button class="small" onclick="changeEntries(2)">Update Image</button>
                                        <br /><br />

                                        <div id="upDetails">
                                            <h3 id="title">Update Employee</h3>

                                            <input type="text" class="small" id="empName" />
                                            <input type="text" class="small" id="empSurname" />
                                            <br />
                                            <input type="number" class="long" id="empIdNumber" />
                                            <br />
                                            <input type="email" class="small" id="empEmailAddress" />
                                            <input type="number" class="small" id="empPhoneNumber" />
                                            <br />

                                            <select id="empPosition">
                                                <option hidden="true">
                                                    Select Position
                                                </option>
                                                <option value="Back-End Developer">Back-End Developer</option>
                                                <option value="Business Analyst">Business Analyst</option>
                                                <option value="Front-End Developer">Front-End Developer</option>
                                                <option value="Full-Stack Developer">Full-Stack Developer
                                                </option>
                                                <option value="Scrum Master">Scrum Master</option>
                                                <option value="Team Leader">Team Leader</option>
                                                <option value="Tester">Tester</option>

                                            </select>
                                            <br /><button onclick="updateDoc()">Update</button>
                                        </div>

                                        <div id="upImg">
                                            <br />
                                            <input type="file" class="long" placeholder="Enter Employee's Image"
                                                id="empImage" accept="image/*" required />
                                            <br />
                                            <button onclick="updateImage()">Update Image</button>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="up-btn">
                        <button onclick="viewOrUpdate(1)">
                            view
                        </button>
                        <button onclick="viewOrUpdate(2)">
                            update
                        </button>
                    </div>
                </div>
            </div>

            </div>
    </body>

</html>